<div class="blob">
  <div class="nameblob"><h1>Stemden :: All Samples</h1></div>
</div>
<br>
<br>

<% @samples.each do |samp| %>
  <div class="blobborder">
    <div class="blob">
      <div class="nameblob"><%= samp.user.name %></div> --

        <%= link_to samp do %>
          <span class="indexblob">
           <%= samp.name %>
          </span>
        <% end %>
        <br>
        <div class="timestampback"><h5>[<%= samp.created_at.to_s(:short) %>] -- [<%= samp.category %>]</h5></div>
    </div>
  </div>
  <br>
  <br>
<% end %>

