<script type="text/javascript">

  //initialize player + set up controls
  soundManager.setup({
  url: '/swf',
  onready: function() {
    var <%= @sample.name %> = soundManager.createSound({
      id: '<%= @sample.name %>id',
      url: '<%= @sample.specimen_url %>',

      ontimeout: function() {
        // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
        console.log('Soundmanager was unable to start! Fuck!');
      },

      whileplaying: function() {
        $(".timeline").css('width', ((<%= @sample.name %>.position/<%= @sample.name %>.duration) * 100) + '%');
      },

      onstop: function() {
        $(".timeline").css('width', '0%');
      }

    });

      $("#<%= @sample.name %>playbutton").click(function()
        {
          <%= @sample.name %>.play();
        });

      $("#<%= @sample.name %>stopbutton").click(function()
        {
          <%= @sample.name %>.stop();
        });


      $(".timelinecontainer").click(function(e){
        //set song position to % position within timelinediv
          <%= @sample.name %>.setPosition((e.pageX/$(window).width()) * <%= @sample.name %>.duration);
      });
    },
  });
</script>

<h1><%= @sample.name %></h1>

<a class="blob" href="<%= @sample.specimen_url %>">Download<br>Stem</a>
<br>
<br>

<div class="playcontrols">
  <button id="<%= @sample.name %>playbutton"><img src="/img/play.png" alt="Play"></button>
  <button id="<%= @sample.name %>stopbutton"><img src="/img/stop.png" alt="Stop"></button>
</div>

<div class="timelinecontainer">
  <div class="timeline"></div>
</div>

<br>
<br>

<% @sample.comments.each do |comm| %>
  <div class="blob">
    <%= comm.user.name %><br>
    <%= comm.body %>
  </div>
  <br>
<% end %>
<br>

<div class="blob">
  <%= form_for [@sample, @comment] do |f| %>
    <%= f.label :body, "Comment:" %>
    <%= f.text_field :body %>

    <%= f.submit "Submit" %>

    <% if @comment.errors.full_messages.any? %>
      <% @comment.errors.full_messages.each do |err| %>
        <%= err %>
        <br>
      <% end %>
    <% end %>
  <% end %>
</div>
<br>
<br>
<div class="blob">
  <%= link_to "Go Back", samples_path %>
</div>
