<div class="blob">
  <div class="nameblob">
    <h1><%= @topic.name %></h1>
  </div>
</div>


<% if @topic.user == current_user %>
  <div class="yellowblobborder">
    <div class="blob"><div class="tinyblob"><%= link_to "Delete Topic", topic_path(@topic), method: :delete %></div></div>
  </div>

  <br>
<br>


<% end %>


<% lastuser = "" %>
<% counter = 0 %>


<% if @topic.comments %>
  <% @topic.comments.each do |comm| %>
    <% if comm.user.name != lastuser && lastuser != ""  %>
      <br>
      <br>
      <% counter += 1 %>
    <% end %>

    <% if counter % 2 == 0 %>
      <div class="yellowblobborder">
    <% else %>
      <div class="commborder2">
    <% end %>
        <div class="blob">
            <div class="nameblob"><%= comm.user.name %></div><br>
              <%= comm.body %><br>
            <div class="timestampback"><h6><%= comm.created_at.to_s(:short) %></h6></div>

            <% if comm.user == current_user %>
              <div class="tinyblob"><%= link_to "Delete", topic_comment_path(@topic, comm), method: :delete %></div>
            <% end %>
        </div>
        <br>
      </div>

    <% lastuser = comm.user.name %>
  <% end %>
<% end %>
<br>
<br>

<div class="blobborder">
  <div class="blob">
    <div class="commform">
    <%= form_for [@topic, @comment] do |f| %>
      <%= f.label :body, "Comment:" %>
      <%= f.text_field :body, autofocus: true %>

      <%= f.submit "Submit" %>

      <% if @comment.errors.full_messages.any? %>
        <% @comment.errors.full_messages.each do |err| %>
          <%= err %>
          <br>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<br>
<br>
<div class="blobborder">
  <div class="blob">
    <%= link_to "Go Back", samples_path %>
  </div>
</div>
<br>
<br>
