<div class="blob">
  <div class="nameblob"><h1>Stemden :: Create Song</h1></div>
</div>
<br>
<br>

<% if current_user %>
  <%= form_for @song do |f| %>

    <div class="blobborderline">
      <div class="blob">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, autofocus: true %><br>
      </div>
    </div>

    <div class="blobborderline">
      <div class="blob">
        <%= f.label :category, "Category" %>
        <%= f.text_field :category %><br>
    </div>
  </div>

    <div class="blobborderline">
      <div class="blob">
        <%= f.label :description, "Description" %>
        <%= f.text_field :description %><br>
    </div>
  </div>



    <div class="blobborderline">
      <div class="blob">
        <%= f.submit "Submit" %>
      </div>
    </div>


    <div class="blobborderline">
      <div class="blob">
        <% if @song.errors.full_messages.any? %>
          <% @song.errors.full_messages.each do |err| %>
            <%= err %>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>



  <% end %>
<% end %>

<br>

<div class="blobborderline">
  <div class="blob">
    <%= link_to "Go Back", samples_path %>
  </div>
</div>
