<!DOCTYPE html>
<html>
<head>
  <title>Stemden</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav>
  <div class="blob"><%= link_to "Add Sample", new_sample_path %></div>
  <div class="blob"><%= link_to "Create Song", new_song_path %></div>

  <% if user_signed_in? %>
    <div class="blob">Logged in as <strong><%= current_user.name %></strong>.</div>
    <div class="blob"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></div>
    <div class="blob"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></div>
  <% else %>
    <div class="blob"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></div>
    <div class="blob"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></div.>
  <% end %>
</nav>


  <% if notice %>
    <%= notice %>
  <% end %>

  <% if alert %>
    <%= alert %>
  <% end %>

  <br>

<%= yield %>

</body>
</html>
